<!DOCTYPE html>
<html>

<head>
    <title>Lucky7Tattoo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin/dashboard">Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="btn btn-dark nav-link" href="/admin/users">Usuarios</a>
                    <a class="btn btn-dark nav-link" href="/admin/citas">Citas <span
                            class="badge bg-secondary">Nueva Cita</span></a>
                    <a class="btn btn-dark nav-link" href="/admin/product">Productos</a>
                    <a class="btn btn-dark nav-link" href="/">Home</a>
                </div>
            </div>
        </div>
    </nav>
    <main>
            <div class="container px-4">
                </br>
                    <div class="row gx-5">
                      <div class="col">
                       <div class="p-sm-5 border-warning badge-dark"><h4>Numero de Usuarios: 4</h4></div>
                      </div>
                      <div class="col">
                        <div class="p-sm-5 border-warning badge-dark"><h4>Nuevas Citas: </h4></div>
                      </div>
                    </div>
                  </div>

    </main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>