    <!-- Start: Footer Basic -->
    <footer class="footer-basic" style="background: rgb(33,37,41);">
        <!-- Start: Social Icons -->
        <div class="social" style="transform: scale(1.30);"><a href="https://www.instagram.com/lucky7tattoord/" style="color: #F5D10D;"><i class="icon ion-social-instagram"></i></a><a style="color: #F5D10D;" href="https://api.whatsapp.com/send?phone=18098540200&amp;text=LUCKY7TATTOO"><i class="icon ion-social-whatsapp-outline"></i></a></div><!-- End: Social Icons -->
        <!-- Start: Links -->
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/" style="font-family: Montserrat, sans-serif;color: #F5D10D;">Home</a></li>
            <li class="list-inline-item"><a href="gallery" style="font-family: Montserrat, sans-serif;color: #F5D10D;">Gallery</a></li>
            <li class="list-inline-item" style="font-family: Montserrat, sans-serif;"><a href="catalog-page" style="font-family: Montserrat, sans-serif;color: #F5D10D;">Shop</a></li>
            <li class="list-inline-item"><a href="contact-us" style="font-family: Montserrat, sans-serif;color: #F5D10D;">Contact Us</a></li>
        </ul><!-- End: Links -->
        <!-- Start: Copyright -->
        <p class="copyright">Lucky7Tattoo © 2019</p><!-- End: Copyright -->
    </footer><!-- End: Footer Basic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/assets/js/script.min.js?h=e6101755a6dc94c9c42179c228983d82"></script>
</body>

</html>