<%- include('partials/_header') -%>
    <main class="page faq-page">
        <section class="clean-block clean-faq dark" style="background: rgb(0, 0, 0);color: rgb(0, 0, 0);">
            <div class="container" style="background: rgb(0, 0, 0);">
                <div class="block-heading">
                    <h1 style="color: #F5D10D;font-family: Montserrat, sans-serif;">FAQ</h1>
                </div>
                <div class="block-content" style="font-family: Montserrat, sans-serif;font-size: 18px;">
                    <div class="faq-item">
                        <h1 class="question" style="font-family: Montserrat, sans-serif;"><br>¿Dónde estamos ubicados?</h1>
                        <div class="answer">
                            <p>Crown Auto, Avenida enriquillo 67 Estamos al lado de, Santo Domingo 11108. Tambien puedes hacer click&nbsp;<a style="color: #F5D10D;" href="https://www.google.com/search?q=lucky+7+tattoo&amp;sxsrf=ALeKk00pqCMpQ9aUPwyypQPHbYO1_421Xg%3A1618339924857&amp;ei=VOh1YIfhM8iIsQWPm7GwDg&amp;gs_ssp=eJzj4tVP1zc0zDIxskzJqsg2YLRSNaiwSE00NTNMNEi1tEwxNrEwtTKoSDRJNDKwNEw2N7O0MDZPMvTiyylNzq5UMFcoSSwpyc8HAKPeE98&amp;oq=lucky&amp;gs_lcp=Cgdnd3Mtd2l6EAEYADINCC4QxwEQrwEQJxCTAjIECC4QQzIECAAQQzIECAAQQzIECC4QQzICCC4yAggAMgUIABDLATIFCAAQywEyAgguOgcIABBHELADOgcIIxDqAhAnOgQIIxAnOgUIABCRAlDylBNYy5sTYLipE2gDcAJ4AIAB_wGIAbsJkgEFMC4zLjOYAQCgAQGqAQdnd3Mtd2l6sAEKyAEIwAEB&amp;sclient=gws-wiz#">aqui.</a><br></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h1 class="question">¿Cuál es nuestro horario?</h1>
                        <div class="answer">
                            <p></p>
                            <p>Lun-Vie: 10:00 a.m.-8:00 p.m.<br>Sab: 10:00 a.m.- 7:00 p.m.<br></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question"><strong>¿</strong>Trabajan por cita?&nbsp;<strong>¿Cómo puedo hacer una cita?</strong><br></h4>
                        <div class="answer">
                            <p>Si se trabaja por cita, pero puedes pasar sin cita por el estudio pero no podemos garantizar la atención inmediata. Se recomienda siempre realizar cita, puedes realizarla&nbsp;<a href="http://bit.ly/Lucky7tattoo" style="color: #F5D10D;">aqui.</a></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question"><strong>¿</strong>Duele un tatuaje?</h4>
                        <div class="answer">
                            <p>Es relativo depende del umbral de dolor de cada persona.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h1 class="question"><strong>¿</strong>De donde son las tintas?</h1>
                        <div class="answer">
                            <p>Todas las tintas son importadas de Estados Unidos y Europa, son veganas e hipoalergénicas.</p>
                            <p></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h1 class="question"><strong>¿</strong>Utilizan pistola o catéter para los piercings?</h1>
                        <div class="answer">
                            <p>Siempre usamos catéter ya que produce menos danos que la pistola.</p>
                            <p></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h1 class="question"><strong>¿</strong>Utilizan anestecia&nbsp; para los piercings?</h1>
                        <div class="answer">
                            <p>Si, utilizamos la mejor anestesia disponible en el mercado.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h1 class="question"><strong>¿</strong>De que material son&nbsp; los piercings que tienen disponibles?</h1>
                        <div class="answer">
                            <p>Todos los piercings que usamos son de plata, titanio o acero quirúrgico, esto ayuda a que los piercings sean hipo alérgicos y facilitan la curación de los mismos.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h1 class="question">¿Cuáles son los cuidados de un tatuaje?</h1>
                        <div class="answer">
                            <p style="text-align: justify;"><strong><span style="text-decoration: underline;">DIA UNO: </span></strong><br><br>Tu nuevo tatuaje se sentirá algo caliente, el cual<br>Sentirás como una quemadura solar. El Cuidado de tu nuevo tatuaje es TU responsabilidad. Como lo cuides los primeros días determinara como se verá el mismo en el futuro.<br><br><strong><span style="text-decoration: underline;">¿QUE HACER?</span></strong><br><br>•&nbsp;&nbsp;Lavarte las manos con agua y jabón.<br>•&nbsp;&nbsp;Quita el papel celofán con cuidado (Mójalo primero si está seco o Pegado a la piel). Recuerda que no debes de tenerlo mas de 3 horas (solo aplica cuando no ponemos el plástico semi permanente, esto fue especificado verbalmente por tu tatuador). <br>•&nbsp;&nbsp;Lava el tatuaje con agua tibia y un jabón suave, pasándole la mano. NOTA: JABON DE CUABA O CASTILLA SIN PERFUMES Y NEUTRO. <br>•&nbsp;&nbsp;Enjabona bien y enjuaga el área hasta verlo totalmente limpio.<br>•&nbsp;&nbsp;Seca (PALPANDO no estruje) el área del tatuaje con papel toalla.<br>•&nbsp;&nbsp;Aplica una pequeña y mínima cantidad de vitamina AYD sobre el tatuaje NOTA:&nbsp;APLICAR APARTIR DEL 5TO DIA EN ADELANTE, NO ANTES, RECUERDA QUE LA VITAMINA ES PARA LUBRICAR LA COSTRA Y NO ES UNA CREMA CURATIVA. La cantidad de días puede variar según recomendación del tatuador. <br><br><strong><span style="text-decoration: underline;">¿QUE NO DEBES HACER?</span></strong><br><br>•&nbsp;&nbsp;NO volver a vendar el tatuaje.<br>•&nbsp;&nbsp;NO Usar toalla, esponja o cualquier otra cosa para lavar el tatuaje.<br>•&nbsp;&nbsp;NO lo seque con toalla, las toallas contienen BACTERIAS.<br>•&nbsp;&nbsp;NO Tocar el tatuaje con las manos sucias, ni tu ni nadie debe tocarlo.<br>•&nbsp;&nbsp;NO aplique Vitamina AYD o Vaselina EXCESO Y UNICAMENTE A PARTIR DEL 5TO DIA o cuando te indique el tatuador, (esto varía según el tamaño del tatuaje).&nbsp;<br>•&nbsp;&nbsp;NO use productos con Aloe Vera, Alcohol o Cortisona.<br>•&nbsp;&nbsp;NO expongas el tatuaje a luz natural o artificial SOLAR por 3 semanas, después de este periodo siempre deberás ponerte protector solar con un factor de +50 SPF para conservarlo en óptimas condiciones por el resto de tu vida. <br>•&nbsp;&nbsp;NO bañarte en PICINA, PLAYAS, SAUNAS, RIOS, LAGUNAS, o LAGO por 15 días.<br>•&nbsp;&nbsp;NO RASCAR, PELAR, DESCACARAR el tatuaje.<br>•&nbsp;&nbsp;EVITAR ambientes calientes como por ejemplo cocinas con el tatuaje recién hecho. <br>•&nbsp;&nbsp;NO HAGA ejercicio o cualquier actividad que genere sudación por 3 días como mínimo o según indicación del tatuador. <br><br><strong><span style="text-decoration: underline;">Del día 2 al 14: </span></strong><br><br>EL tatuaje se escamara y pequeñas partes de piel con tinta se desprenderán. EL tatuaje ni la tinta se verá tan nítido como el primer día, lo cual es completamente NORMAL, pero volverá a serlo de entro de 2 a 3 semanas. Continúa lavando el tatuaje 2 veces al día. (En la mañana y en la noche) con los pasos indicados para el 1er día. <br><br><strong><span style="text-decoration: underline;">IMPORTANTE</span></strong><br><br>La vitamina AYD (sin olor) puede ser aplicada entre 10-14 días.<br>Si aparecen señales de infección cambie a una loción de manos humectante (Sin olor) por corto tiempo. El Sol debe ser evitado 100% pues todas las tintas son sensitivas al sol y Pueden causar daños a la piel tatuada.<br><br><span style="text-decoration: underline;">Producto Recomendado</span><br>Jabón: Neutral, sin olor, preferiblemente de CASTILLA.<br>Cremas: Vitamina AYD; sin olor, Eucerin, Lubriderm , Bacitracin Bepanthen todas sin olor, color, perfume y/o alcohol.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h1 class="question">¿Cuáles son los cuidados de un piercing?</h1>
                        <div class="answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- Start: Footer Basic -->
<%- include('partials/_footer') -%>