<%- include('partials/_header') -%>

<main class="page product-page">
    <section class="clean-block clean-product dark" style="background: rgb(49,52,55);">
        <div class="container">
            <div class="block-heading">
                <h1 class="display-3" style="font-family: UnifrakturMaguntia, cursive;color: #F5D10D;">Product Page</h1>
            </div>
            <div class="block-content">
                <div class="product-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gallery"><img class="img-fluid small-preview" src="/resources/assets/img/Giftcard.jpg?h=90e312570b0d1b50cefeba7f4c0f540c"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <h2 class="display-4" style="font-family: UnifrakturMaguntia, cursive;">Targeta de Regalo</h2>
                                <div class="price">
                                    <h2>$300.00</h2>
                                </div><button class="btn btn-dark active btn-lg" type="submit"><i class="icon-basket"></i>Add to Cart</button>
                                <div class="summary">
                                    <p style="font-family: Montserrat, sans-serif;font-weight: normal;">Targeta de Regalo para tatuajes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clean-related-items">
                    <h1 class="display-4" style="font-family: UnifrakturMaguntia, cursive;">Related Products</h1>
                    <div class="items">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="/product-page-cuidado-tats"><img class="img-fluid d-block mx-auto" src="/resources/assets/img/KITDECUIDADO.jpeg?h=0a9c217481ce5994eb15220f971bec88"></a></div>
                                    <div class="related-name"><a href="/catalog-page" style="color: rgb(0,0,0);font-family: UnifrakturMaguntia, cursive;">Kit de Cuidado</a>
                                        <div class="rating"></div>
                                        <h4 style="color: rgb(0,0,0);">$300</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    <%- include('partials/_footer') -%>