<!DOCTYPE html>
<html>

<head>
    <title>Lucky7Tattoo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin/dashboard">Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="btn btn-dark nav-link" href="/admin/users">Usuarios</a>
                    <a class="btn btn-dark nav-link" href="/admin/citas">Citas <span
                            class="badge bg-secondary">3</span></a>
                    <a class="btn btn-dark nav-link" href="/admin/product">Productos</a>
                    <a class="btn btn-dark nav-link" href="/">Home</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="card" style="padding: 10%" >
        <img class="card-img-top img-fluid rounded" style="width: 32rem" src="/resources/uploaded/<%=productData[0].imagen%>">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre Producto: <%= productData[0].producto %></li>
                <li class="list-group-item">Precio Producto: RD$: <%= productData[0].precio %>.00</li>
                <li class="list-group-item">Descripcion del Producto: <%= productData[0].descripcion %></li>
            </ul>
            <div class="d-grid gap-2">
                <a role="button" class="btn btn-dark" href="/admin/product">Go back</a>
            </div>
        </div>
    </div>
</body>
</br>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>