<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Lucky7Tattoo</title>
    <link rel="stylesheet" href="/resources/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=UnifrakturCook:">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia">
    <link rel="stylesheet" href="/resources/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/resources/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/resources/assets/css/Article-List.css">
    <link rel="stylesheet" href="/resources/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/resources/assets/css/styles.min.css?h=18da26da66224dc7e0365acaa8581204">
    <link rel="stylesheet" href="/resources/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="/resources/assets/css/Responsive-Image-Grid.css">
    <link rel="stylesheet" href="/resources/assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="/resources/assets/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <style>
        body {
            font-family: 'Crimson Pro', serif;
            font-size: 48px;
        }
    </style>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
</head>

<body style="color: rgb(0,0,0);">
    <nav class="navbar navbar-light navbar-expand-md bg-dark clean-navbar"
        style="background: rgb(0,0,0);color: rgb(0,0,0);height: 60px;border-color: rgb(0,0,0);">
        <div class="container"><a class="navbar-brand logo" href="/"
                style="font-family: UnifrakturMaguntia, cursive;color: #F5D10D;font-size: 30px;">Lucky7Tattoo</a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="gallery"
                            style="color: #F5D10D;font-family: Montserrat, sans-serif;">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link active" href="catalog-page"
                            style="color: #F5D10D;font-family: Montserrat, sans-serif;">Shop</a></li>
                            <li class="nav-item"><a class="nav-link active" href="citas"
                                style="color: #F5D10D;font-family: Montserrat, sans-serif;">Citas</a></li>
                    <li class="nav-item"><a class="nav-link active" href="faq"
                            style="color: #F5D10D;font-family: Montserrat, sans-serif;">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link active" href="contact-us"
                            style="color: #F5D10D;font-family: Montserrat, sans-serif;">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/logout" title="Logout"
                            style="color: #F5D10D;font-family: Montserrat, sans-serif;"><%= name %></a></li>
                </ul>
            </div>
        </div>
    </nav>
<main class="page product-page">
    <section class="clean-block clean-product dark" style="background: rgb(49,52,55);">
        <div class="container">
            <div class="block-heading">
                <h1 class="display-3" style="font-family: UnifrakturMaguntia, cursive;color: #F5D10D;">Product Page</h1>
            </div>
            <div class="block-content">
                <div class="product-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gallery">
                                <div id="product-preview" class="vanilla-zoom">
                                    <div class="zoomed-image"><img class="img-fluid small-preview" src="resources/assets/img/KITDECUIDADO.jpeg?h=0a9c217481ce5994eb15220f971bec88"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <h2 class="display-4" style="font-family: UnifrakturMaguntia, cursive;">Kit de Cuidado</h2>
                                <div class="price">
                                    <h2>$300.00</h2>
                                </div><button class="btn btn-dark active btn-lg" type="submit"><i class="icon-basket"></i>Add to Cart</button>
                                <div class="summary" style="font-family: Montserrat, sans-serif;">
                                    <p style="font-family: Montserrat, sans-serif;">Kit de cuidado de tatuajes basico.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clean-related-items">
                    <h1 class="display-4" style="font-family: UnifrakturMaguntia, cursive;">Related Products</h1>
                    <div class="items">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-lg-4">
                                <div class="clean-related-item">
                                    <div class="image"><a href="/product-page-targeta"><img class="img-fluid d-block mx-auto" src="resources/assets/img/Giftcard.jpg?h=2bc59d5c216a737fb8abcd4c4cb7c195"></a></div>
                                    <div class="related-name"><a href="/product-page-targeta" style="color: rgb(0,0,0);font-family: UnifrakturMaguntia, cursive;">Targeta de Regalo</a>
                                        <div class="rating"></div>
                                        <h4 style="color: rgb(0,0,0);">$300</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    <%- include('../partials/_footer') -%>